<h1>Listing decision_elements</h1>

<table>
  <tr>
    <th>Decision</th>
    <th>Element</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @decision_elements.each do |decision_element| %>
  <tr>
    <td><%= decision_element.decision_id %></td>
    <td><%= decision_element.element_id %></td>
    <td><%= link_to 'Show', decision_element %></td>
    <td><%= link_to 'Edit', edit_decision_element_path(decision_element) %></td>
    <td><%= link_to 'Destroy', decision_element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Decision element', new_decision_element_path %>
