<%= simple_form_for(@evernote_notification) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :note_guid %>
    <%= f.input :action %>
    <%= f.input :notification_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
