<div id="decision-elements-<%= element.id %>" class="modal" style="width: auto;display: none;">
	<div class="modal-header">
    	<a class="close" data-dismiss="modal">&#215;</a>
    	<h3>View Elements</h3>
  	</div>
	<div class="modal-body element_modal">
		<table id="tblElement" class="table table-condensed">
		    <thead>
		    <tr>
		      <th>Element</th>
		      <th>Description</th>
		      <th></th>
		      <th></th>
		    </tr>
		    </thead>
		    <tbody>
		    <% element.elements.each do |element| %>
		        <tr>
		          <td><%= element.name %></td>
		          <td><%= element.description %></td>
		          <td><%= link_to( (image_tag("edit-26.png", :title => 'Edit')), edit_element_path(element), :class => 'btn btn-mini btn_no_border') %></td>
		          <td><%= link_to( (image_tag("delete-26.png", :title => 'Delete')), element_path(element), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini btn_no_border') %></td>
		        </tr>
		    <% end %>
		    </tbody>
		</table>
      </div>
      <div class="modal-footer btn_left" >
      	<a href="elements/new"><%= image_tag("add_property-32.png", :class => 'btn btn-mini btn_no_border', :title => 'Add an element', :style => 'width:32px;height:32px')%></a>
      </div>
</div>
