<div id="decision-elements-<%= element.id %>" class="modal" style="width: auto;display: none;">
	<div class="modal-header">
    	<a class="close" data-dismiss="modal">&#215;</a>
    	<h3>View Elements</h3>
  	</div>
	<div class="modal-body element_modal">
		<table id="tblElement" class="table table-condensed">
		    <thead>
		    <tr>
		      <th>Element</th>
		      <th>Description</th>
		      <th></th>
		      <th></th>
		    </tr>
		    </thead>
		    <tbody>
		    <% element.elements.each do |element| %>
		        <tr>
		          <td><%= element.name %></td>
		          <td><%= element.description %></td>
		          <td><%= link_to( (image_tag("edit-32.png", :style => 'width:16px;height:16px', :title => 'Edit')), edit_element_path(element), :class => 'btn btn-mini') %></td>
		          <td><%= link_to( (image_tag("delete-32.png", :style => 'width:16px;height:16px', :title => 'Delete')), element_path(element), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') %></td>
		        </tr>
		    <% end %>
		    </tbody>
		</table>
      </div>
      <div class="modal-footer">
      	<%= button_to_function "Add Element", "show_resource('#{element.id}')", :class => 'btn btn-mini' %>
        <a data-dismiss="modal" href="#"><%= image_tag("close_window-32.png", :style => 'width:16px;height:16px', :class => 'btn btn-mini', :title => 'Close') %></a>
      </div>
</div>
