<%= simple_form_for(@element) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :name %>

    <%= f.input :description %>

	<%= f.input :decision_id, collection: Decision.all.collect {|d| [ d.title, d.id ] }, prompt: "Select a decision" %>
  
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
