<%= simple_form_for(@element) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :name %>

    <%= f.input :description %>

	<%= select("element", "decision_id", Decision.all.collect {|d| [ d.title, d.id ] }, {include_blank: 'None'}) %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
