<%= simple_form_for(@element) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :name %>

    <%= f.input :description %>

	<%= f.input :decision_id, collection: Decision.all.collect {|d| [ d.title, d.id ] }, prompt: "Select a decision" %>
  
  </div>

  <div class="form-actions">
    
    <%= image_submit_tag("save-32.png", :class => 'btn btn-mini btn_no_border', :title => 'Save element', :style => 'width:32px;height:32px', :name =>
"save_button")%>
    
        <%= image_submit_tag("add_property-32.png", :class => 'btn btn-mini btn_no_border', :title => 'Save element & add another', :style => 'width:32px;height:32px', :name =>
"another_button")%>

  </div>
<% end %>
