<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @decision.title %>
</p>

<p>
  <b>Description:</b>
  <%= @decision.description %>
</p>


<%= link_to 'Edit', edit_decision_path(@decision) %> |
<%= link_to 'Back', decisions_path %>
