<div class="span8">
	<a href="decisions/new"><%= image_tag("add_file-32.png", :class => 'btn btn-mini btn_no_border', :title => 'Add a decision', :style => 'width:32px;height:32px')%></a>
	</p>
  <table border="0" cellpadding="10" class="table table-condensed">
    <thead>
    <% if !user_signed_in? %>
      <p>Please log in to access the system.
	<% else %>
	<tr>
      <th>Decision</th>
      <th>Description</th>
      <th>Elements</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
	    <% @decisions.each do |decision| %>
	        <tr>
	          <td><%=link_to decision.title, decision %></td>
	          <td><%= decision.description %></td>
	          <td><%= decision.elements.count %></td>
	          <td>
	            <a data-toggle="modal" href="#decision-elements-<%= decision.id %>"><%= image_tag("list-32.png", :class => 'btn btn-mini btn_no_border', :title => 'View & add elements') %></a>
	            <%= render(partial: "elements/element", object: decision)%>
	          </td>
	          <td>
	            <a data-toggle="modal" href="#survey-decision-<%= decision.id %>"><%= image_tag("compare-32.png", :class => 'btn btn-mini btn_no_border', :title => 'Compare the elements') %></a>
	            <%= render(partial: "surveys/survey", object: decision)%>
	          </td>
	          <td>
	            <a href="decisions/<%= decision.id %>/results"><%= image_tag("bar-32.png",  :class => 'btn btn-mini btn_no_border', :title => 'View the results') %></a>
	          </td>
	          <td><%= link_to((image_tag("delete-32.png",  :title => 'Delete the decision')), decision_path(decision), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini btn_no_border') %></td>
	        </tr>
	    <% end %>
    </tbody>
   <% end %>
  </table>
</div>
