<div id="survey-decision-<%= survey.id %>" class="modal" style="width: auto;display: none;">
  <%= simple_form_for survey, :url => save_survey_survey_path(survey), :html => {:method => :put, :class => 'form-horizontal' } do |f| %>
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&#215;</a>
        <h3>Compare the elements</h3>
      </div>
      <div class="modal-body">
        Compare the importance of each element by ranking it against the others:</p>
        <%= build_survey(survey) %>
      </div>
      <div class="modal-footer">
      	<%= image_submit_tag("save-26.png", :class => 'btn btn-mini btn_no_border', :title => 'Save results') %>
        <a data-dismiss="modal" href="#"><%= image_tag("close_window-26.png", :class => 'btn btn-mini btn_no_border', :title => 'Close') %></a>
      </div>
  <% end %>
</div>