  <table class="nav">
  <tr>
      <td>
        <%= link_to "Decision Support Tool", root_path, :class => 'brand' %>&nbsp;&nbsp;
      </td>  	
  <% if user_signed_in? %>
      <td>
        <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>&nbsp;&nbsp;
      </td>
  <% else %>
       <td>
        <%= link_to('Login', new_user_session_path)  %>&nbsp;&nbsp;
       </td>
  <% end %>
  <% if user_signed_in? %>
       <td>
        <%= link_to('Edit account', edit_user_registration_path) %>&nbsp;&nbsp;
       </td>
      <% if current_user.has_role? :admin %>
           <td>
            <%= link_to('Admin', users_path) %>&nbsp;&nbsp;
           </td>
      <% end %>
  <% else %>
       <td>
        <%= link_to('Sign up', new_user_registration_path)  %>&nbsp;&nbsp;
       </td>
  <% end %>
  </tr>	
  </table>  